name: Jekyll Site CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 检出代码
      - name: Checkout repository
        uses: actions/checkout@v4
        
      # 使用 jekyll/builder 容器构建站点
      - name: Build the Jekyll site using Docker
        run: |
          docker run \
          -v ${{ github.workspace }}:/srv/jekyll \
          -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
          jekyll/builder:latest /bin/bash -c "\
            chmod -R 777 /srv/jekyll && \
            gem install bundler && \
            bundle config set --local path 'vendor/bundle' && \
            bundle add rexml && \
            bundle install && \
            JEKYLL_ENV=production bundle exec jekyll build --future --safe"
      
      # 部署到 GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages # 部署到 gh-pages 分支
          publish_dir: ./_site
          enable_jekyll: false    # 已经构建过了，不需要 GitHub Pages 再次构建
